.constructor {
  padding-bottom: 20px;
  color: var(--color-text-white);
  background-color: #0c1855;
}
.constructor__bets-list {
  padding: 20px;
}
.constructor__clear {
  width: 66px;
  height: 20px;
  margin-left: auto;
  margin-bottom: 20px;
  padding-top: 2px;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.constructor__bet {
  position: relative;
  display: flex;
  padding-bottom: 20px;
}
.constructor__bet::before {
  content: "";
  position: absolute;
  top: 0;
  left: 2px;
  width: 1px;
  height: 40%;
  background-color: var(--color-text-white);
}
.constructor__bet::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 2px;
  width: 1px;
  height: 60%;
  background-color: var(--color-text-white);
}
.constructor__bet:first-of-type::before {
  height: 0;
}
.constructor__bet:last-of-type::after {
  height: 0;
}
.constructor__dot {
  position: relative;
  width: 5px;
  height: 5px;
  margin-right: 25px;
  align-self: center;
  border-radius: 50%;
  background-color: var(--color-text-white);
}
.constructor__info {
  position: relative;
  display: flex;
  padding: 20px;
  padding-bottom: 38px;
  width: 100%;
  font-size: 14px;
  border: 1px solid var(--color-text-white);
}
.constructor__info .clickable {
  text-decoration: underline;
  cursor: pointer;
}
.constructor__info.pause .constructor__pause {
  display: flex;
}
.constructor__info.deleted .constructor__deleted {
  display: flex;
}
.constructor__construct {
  display: flex;
  flex-wrap: wrap;
}
.constructor__column {
  margin-right: 40px;
  flex-shrink: 0;
}
.constructor__name {
  margin-bottom: 5px;
}
.constructor__full {
  font-size: 11px;
  line-height: 13px;
  color: rgba(255, 255, 255, 0.5);
}
.constructor__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  margin-left: auto;
  background: ("../Images/icon/close.svg") no-repeat;
  background-position: center;
  cursor: pointer;
}
.constructor__full {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.constructor__buttons {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 40px;
}
.constructor__coupon {
  position: relative;
}
.constructor__button {
  width: 160px;
  height: 40px;
  padding-top: 13px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  background-color: red;
  cursor: pointer;
}
.constructor__button:first-of-type {
  margin-right: 40px;
}
.constructor__coef {
  position: absolute;
  right: -40px;
  bottom: 3px;
}
.constructor__coef div {
  margin-bottom: 5px;
  font-weight: 500;
}
.constructor__coef span {
  font-size: 9px;
}
.constructor__coef.arrow_green div {
  position: relative;
}
.constructor__coef.arrow_green div::before {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  border: 4px solid transparent;
  border-top: 4px solid #86d46a;
  border-right: 4px solid #86d46a;
}
.constructor__coef.arrow_red div {
  position: relative;
}
.constructor__coef.arrow_red div::before {
  content: " ";
  position: absolute;
  bottom: 0;
  right: 0;
  border: 4px solid transparent;
  border-bottom: 4px solid var(--error-color-red);
  border-right: 4px solid var(--error-color-red);
}
.constructor__description {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.constructor__description.opened .constructor__more {
  display: block;
}
.constructor__description.opened .constructor__more-button {
  transform: rotate(180deg);
}
.constructor__title {
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
}
.constructor__more-button {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  background: ("../Images/icon/Arrow_down.svg") no-repeat;
  background-position: center 7px;
  cursor: pointer;
}
.constructor__more {
  display: none;
  font-size: 11px;
}
.constructor__instructions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.constructor__point {
  display: flex;
  align-items: center;
  max-width: 110px;
  text-align: left;
}
.constructor__number {
  margin-right: 10px;
  font-size: 28px;
}
.constructor__status {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(148, 164, 250, 0.9);
}
.constructor__status .constructor__close {
  position: absolute;
  top: 20px;
  right: 20px;
}
.constructor__status {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(148, 164, 250, 0.9);
}
.constructor__status .constructor__close {
  position: absolute;
  top: 20px;
  right: 20px;
}
@media screen and (max-width: 600px) {
  .constructor.coef .constructor__coef {
    display: block;
  }
  .constructor__bets-list {
    display: flex;
    flex-direction: column;
    padding-right: 25px;
    padding-left: 10px;
    overflow: auto;
  }
  .constructor__bets-list > div {
    flex-shrink: 0;
  }
  .constructor__clear {
    order: 2;
    margin-bottom: 0;
  }
  .constructor__dot {
    margin-right: 10px;
  }
  .constructor__column {
    margin-right: 15px;
  }
  .constructor__info {
    padding-top: 33px;
    padding-bottom: 15px;
  }
  .constructor__close {
    top: 8px;
    right: 8px;
  }
  .constructor__full {
    top: 10px;
    bottom: auto;
  }
  .constructor__coef {
    top: -45px;
    bottom: auto;
    left: -205px;
    right: auto;
    display: none;
  }
  .constructor__coef div {
    margin-bottom: -5px;
  }
  .constructor__coef span {
    opacity: 0.5;
  }
  .constructor__buttons {
    justify-content: space-around;
    margin-top: 0;
    padding-top: 0;
  }
  .constructor__button {
    margin-right: 0;
  }
  .constructor__button:first-of-type {
    margin-right: 0;
  }
  .constructor.no-bets .constructor__clear {
    display: none;
  }
  .constructor.no-bets .constructor__coef {
    display: none;
  }
  .constructor.no-bets .constructor__coupon {
    opacity: 0.5;
  }
  .constructor.no-bets .constructor__bets-list {
    padding-bottom: 0;
  }
  .constructor__description {
    width: 100%;
  }
  .constructor__more {
    padding: 0 20px;
    font-size: 14px;
  }
  .constructor__instructions {
    margin-top: 15px;
    font-size: 11px;
  }
  .constructor__point {
    width: 33.3%;
  }
}
@media screen and (max-width: 320px) {
  .constructor__buttons {
    flex-direction: column;
    align-items: center;
  }
  .constructor__coupon {
    order: -1;
    margin-bottom: 15px;
  }
  .constructor__coef {
    left: 0;
  }
  .constructor__clear {
    margin-right: 55px;
  }
  .constructor__more {
    font-size: 13px;
  }
  .constructor__more > div {
    text-align: left;
  }
  .constructor__instructions {
    flex-direction: column;
    font-size: 14px;
  }
  .constructor__point {
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
  }
  .constructor__number {
    font-size: 18px;
    font-weight: 500;
  }
}
.modal-constructor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  width: 100%;
  height: 100%;
}
.modal-constructor__wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-constructor__main {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 500px;
  height: 526px;
}
.modal-constructor__main.main .modal-constructor__back {
  display: none;
}
.modal-constructor__main.pause .modal-constructor__pause {
  display: block;
}
.modal-constructor__top {
  display: flex;
  height: 40px;
  padding: 0 20px;
  padding-top: 12px;
  margin-bottom: 2px;
  font-weight: 500;
  background-color: #0c1855;
}
.modal-constructor__back {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: ("../Images/icon/Arrow_down.svg") no-repeat;
  background-position: 3px center;
  transform: rotate(90deg);
  cursor: pointer;
}
.modal-constructor__close {
  margin-left: auto;
  width: 20px;
  height: 20px;
  margin-top: -2px;
  opacity: 0.5;
  background: ("../Images/icon/close.svg") no-repeat;
  background-position: center;
  cursor: pointer;
}
.modal-constructor__body {
  background-color: #0c1855;
}
.modal-constructor__tabs {
  display: flex;
  overflow: auto;
  background-color: #204c4e;
}
.modal-constructor__tab {
  height: 38px;
  padding: 0 20px;
  padding-top: 11px;
  flex-shrink: 0;
  text-align: center;
  cursor: pointer;
  border-right: 1px solid #0c1855;
}
.modal-constructor__tab.active {
  font-weight: 500;
  background-color: #0c1855;
}
.modal-constructor__list {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  height: 350px;
  overflow-y: scroll;
}
.modal-constructor__list li {
  height: 40px;
  width: 100%;
  padding: 0 20px;
  padding-top: 12px;
  cursor: pointer;
}
.modal-constructor__list li.active {
  font-weight: 500;
}
.modal-constructor__buttons {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  background-color: #0c1855;
}
.modal-constructor__button {
  width: 160px;
  height: 40px;
  padding-top: 12px;
  margin-right: 40px;
  text-align: center;
  background-color: red;
  cursor: pointer;
}
.modal-constructor__coef {
  display: flex;
  align-items: center;
}
.modal-constructor__coef span {
  font-size: 9px;
  opacity: 0.5;
}
.modal-constructor__coef div {
  margin-left: 20px;
  font-weight: 500;
}
.modal-constructor__pause {
  position: absolute;
  bottom: 16px;
  display: none;
  width: 100%;
  height: 430px;
  padding-top: 140px;
  text-align: center;
  font-weight: 500;
  background-color: rgba(148, 164, 250, 0.9);
}
.modal-constructor__error {
  width: 100%;
  height: 40px;
  padding-top: 11px;
  margin-top: 2px;
  padding-left: 16px;
  border-left: 4px solid var(--error-color-red);
  background-color: #0c1855;
}
.modal-constructor__pause {
  position: absolute;
  bottom: 54px;
  display: none;
  width: 100%;
  height: 430px;
  padding-top: 140px;
  text-align: center;
  font-weight: 500;
  background-color: rgba(148, 164, 250, 0.9);
}
@media screen and (max-width: 600px) {
  .modal-constructor__main {
    position: fixed;
    top: 120px;
    left: 0;
    width: 100%;
    background-color: #0c1855;
    transform: translate(0%, 0%);
  }
  .modal-constructor__top {
    margin-bottom: 0;
    height: 50px;
    padding-top: 14px;
    font-size: 18px;
    border-bottom: 1px solid #204c4e;
  }
  .modal-constructor__close {
    margin-top: 0;
  }
  .modal-constructor__tabs {
    overflow: scroll;
  }
  .modal-constructor__tab {
    height: 50px;
    padding-top: 16px;
    flex-shrink: 0;
  }
  .modal-constructor__list {
    height: 384px;
    padding-top: 8px;
  }
  .modal-constructor__buttons {
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
  }
  .modal-constructor__coef {
    order: -1;
    margin-bottom: 14px;
  }
  .modal-constructor__coef span {
    opacity: 1;
    font-size: 11px;
  }
  .modal-constructor__button {
    margin-right: 0;
  }
}
@media screen and (max-width: 320px) {
  .modal-constructor__list {
    height: 250px;
  }
  .modal-constructor__buttons {
    flex-direction: row;
    justify-content: space-around;
  }
  .modal-constructor__coef {
    order: 1;
    flex-direction: column;
    margin-bottom: 0;
  }
  .modal-constructor__coef > div {
    order: -1;
    margin-left: 0;
  }
  .modal-constructor__coef span {
    opacity: 0.5;
  }
}
